#logAndRegis {
    background-color: yellowgreen;
    text-align: center;

}
#logAndRegis h1{
    color: red;
}
#logAndRegis p {
    padding: 0;
    margin: 0;
    margin-bottom: -41px;
}
#logAndRegis form input {
    margin-bottom: 1px;
}
